<!DOCTYPE html>
<html>
	<head>
		<title>Mi sitio web</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Inicio</a></li>
					{% if not user.is_authenticated %}
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'register' %}">Register</a></li>
					{% else %}
					<li><a href="{% url 'logout' %}">Logout</a></li>
					{% endif %}
					<li><a href="/acerca/">Acerca de</a></li>
					<li><a href="/contacto/">Contacto</a></li>
				</ul>
			</nav>
		</header>

		{% block content %}
		<!-- Este bloque será reemplazado por cada página que extienda esta plantilla -->
		{% endblock %}

		<footer>
			<!-- Aquí va tu código de pie de página -->
		</footer>
	</body>
</html>
