{% extends "base.html" %}

{% block content %} 

<div class="panel-text">
	<h1>"Conoce, conecta, conserva: nuestro mundo, nuestro compromiso"</h1><br>

	<h2>¿Qué es UnuMap?</h2><br>
	<p>UnuMap es un servicio que brinda información sobre el estado de cuerpos marinos en todo el mundo. Nuestra colección de data es parte
	de una colaboración con científicos de la NASA expertos en estos temas. Brindamos una experiencia única, donde usted puede aprender más
	sobre las espécies marinas en peligro de extinción y cómo protegerlas, para esto hacemos uso de una API de localización que junto con
	nuestra data, brinda información relevante y de aprendizaje a los usuarios. Además, brindamos una forma innovadora de interactuar con
	estos cuerpos marinos usando realidad aumentada.<p><br>

	<h2>¿Cómo nació UnuMap?</h2><br>

	<p>Este es un proyecto que nació el 2023 como propuesta para la hackathon más grande del mundo (NASA Space Apps Challenge) de forma
	que pueda capturar el interes de las personas por especies marinas que se encuentran en peligro de extinción.</p><br>

	<h2>¿Cómo probar el ambiente de realidad aumentada?</h2><br>
	<p>Usted podrá probar el servicio en el siguiente enlace:<p>
	<div class="container">
		<a href="{% url 'mapa' %}" class="btn btn-primary">Probar Mapa</a>
	</div>
</div>

{% endblock %}
